//************************************************************************************
// BRAND & SKINS
// colors, specific typography, logos
//************************************************************************************

$brand-1: #15e1ff;
$brand-2: #15e1ff;
$brand-3: #15e1ff;


// Brand colors
// -----------------------------------------------------------------------------------
.brand-1 { color: $brand-1; }
.brand-2 { color: $brand-2; }
.brand-3 { color: $brand-3; }


// Logo
// -----------------------------------------------------------------------------------
.logo-main 	{ }
.logo-alt 	{ }