//************************************************************************************
// COMPONENTS
// These components are abstract element reusable anywhere in any site/application.
// Modules specific to your project should be defined in the "modules" folder.
//************************************************************************************

/*


// Tabs
// Tabs navigation; the clickable links that toggles their associated section
// -----------------------------------------------------------------------------------
.tabs {
    .tab-nav-container {

    }

    .tab-nav-item {

    }

    .tab-panel-container {

    }

    .tab-panel {

    }
}


// Loading Container
// -----------------------------------------------------------------------------------
.loading-container {
    display: none;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}



// Carousel
// -----------------------------------------------------------------------------------
.carousel-wrapper {
    .carousel-nav {

    }

    .carousel-slide {

    }
}


*/