//************************************************************************************
// FORMS & ERRORS
//************************************************************************************

// Base Inputs
// -----------------------------------------------------------------------------------
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    min-width: 100px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    padding: 0 18px;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}


// Placeholder
// -----------------------------------------------------------------------------------
::-webkit-input-placeholder {
    color: #ddd;
}
::-moz-placeholder {
    color: #ddd;
}
:-ms-input-placeholder {
    color: #ddd;
}
:-moz-placeholder {
    color: #ddd;
}


// Variables
// -----------------------------------------------------------------------------------
.txtbox-50      { width: 50px;  }
.txtbox-100     { width: 100px; }
.txtbox-150     { width: 150px; }
.txtbox-200     { width: 200px; }
.txtbox-250     { width: 250px; }
.txtbox-300     { width: 300px; }
.txtbox-full    { width: 100%;  }



// Default values
// -----------------------------------------------------------------------------------
// Spacing under the fieldset
fieldset {

}



// Form entry
// -----------------------------------------------------------------------------------
// Represent a single line of any forms
// Can contain multiple inputs
.form-line {
  display: block;
  @include clearfix;
  margin-bottom: 28px;
  position: relative;

  label {
    display: block;
    color: #161616;
    margin-bottom: 2px;

    & + br {
      display: none;
    }

    // Labels for requied fields are in bold
    &.required {
      font-weight: bold;
    }

    // Smaller font inside the labels
    .small {
      @include font-size( 10 );
    }
  }

  &.spacer {
    margin-bottom: 30px;
  }
}



// Errors
// -----------------------------------------------------------------------------------
