//************************************************************************************
// FORMS & ERRORS
//************************************************************************************


// Variables
// -----------------------------------------------------------------------------------

.txtbox-50      { width: 50px;  }
.txtbox-100     { width: 100px; }
.txtbox-150     { width: 150px; }
.txtbox-200     { width: 200px; }
.txtbox-250     { width: 250px; }
.txtbox-300     { width: 300px; }
.txtbox-full    { width: 100%;  }



// Default values
// -----------------------------------------------------------------------------------
// Spacing under the fieldset
fieldset {

}






// Form entry
// -----------------------------------------------------------------------------------
//
// Represent a single line of any forms
// Can contain multiple inputs
.field-container {
  margin-bottom: 16px;
  position: relative;

  label {

    // Labels for requied fields are in bold
    &.required {
      font-weight: bold;
    }

    // Smaller font inside the labels
    .small {
      @include font-size( 10 );
    }
  }

  &.spacer {
    margin-bottom: 30px;
  }
}




// Errors
// -----------------------------------------------------------------------------------
