//************************************************************************************
// SHAME
// "The idea of shame.css is that you have a totally new stylesheet reserved just for
// your hacky code. The code you have to write to get the release out on time,
// but the code that makes you ashamed."
// http://csswizardry.com/2013/04/shame-css/
//************************************************************************************
