//************************************************************************************
// STRUCTURE
// General elements of the structure, including containers and wrappers
//************************************************************************************



main {

}


.wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @extend .clearfix;
}


.content {
  min-height: 500px;
  position: relative;
}


.spacer {
    margin: 32px 0;
}



// Layout
// -----------------------------------------------------------------------------------
.full 	{
    width: 100%;
    height: 100%;
}


.half {
    width: 50%;
}


.tiers	{
  width: 33.3%;
}


// Center of Interest
// Container with a defined width, smaller than it's parent container, that
// is usually alone in the center of the page
.coi {
    width: 450px;
    margin: 0 auto;
}


// Box content with borders all around
.box {
    border: solid 1px #ccc;
}



// Grid
// -----------------------------------------------------------------------------------
.grid-10    { width: 10%; }
.grid-20    { width: 20%; }
.grid-20    { width: 30%; }
.grid-40    { width: 40%; }
.grid-50    { width: 50%; }
.grid-60    { width: 60%; }
.grid-70    { width: 70%; }
.grid-80    { width: 80%; }
.grid-90    { width: 90%; }
.grid-100   { width: 100%; }