//************************************************************************************
// TYPOGRAPHY
//************************************************************************************



// Font families & Custom Fonts
// -----------------------------------------------------------------------------------
.ft-default     { font-family: $default-font; }
.ft-alt         { font-family: $alt-font; }
.ft-sans        { font-family: sans-serif; }
.ft-serif       { font-family: serif; }

%ft-sans        { @extend .ft-sans; }
%ft-serif       { @extend .ft-serif; }



// Headings
// -----------------------------------------------------------------------------------
// Define a reusable & flexible class for each heading, which can be used everywhere
// in the page to replicate the style of the headings while keeping a clean structure.
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
h1, .alpha {
  @include font-size( 46 );
  @include line-height( 52 );
  text-transform: uppercase;
}


h2, .beta {
  @include font-size( 36 );
  @include line-height( 42 );
}


h3, .gamma {
  @include font-size( 28 );
  @include line-height( 32 );
}


h4, .delta {
  @include font-size( 24 );
  @include line-height( 24 );
  font-weight: 300;
}


h5, .epsilon {
  @include font-size( 18 );
}


h6, .zeta {
  @include font-size( 14 );
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}



// Page & Section Titles
// -----------------------------------------------------------------------------------
.page-title {

}


.page-subtitle {

}


.small-title {

}


.section-title {

}



// Font Sizes
// -----------------------------------------------------------------------------------
.fs-8   { @include font-size( 8 );  }
.fs-9   { @include font-size( 9 );  }
.fs-10  { @include font-size( 10 ); }
.fs-12  { @include font-size( 12 ); }
.fs-14  { @include font-size( 14 ); }
.fs-16  { @include font-size( 16 ); }
.fs-18  { @include font-size( 18 ); }
.fs-24  { @include font-size( 24 ); }
.fs-30  { @include font-size( 30 ); }
.fs-36  { @include font-size( 36 ); }
.fs-52  { @include font-size( 52 ); }



// Line-Heights
// -----------------------------------------------------------------------------------
.ln-12 { @include line-height( 12 ); }
.ln-14 { @include line-height( 14 ); }
.ln-18 { @include line-height( 18 ); }
.ln-20 { @include line-height( 20 ); }
.ln-22 { @include line-height( 22 ); }
.ln-28 { @include line-height( 28 ); }



// Font Colors
// -----------------------------------------------------------------------------------
.white  { color: #ffffff; }
.black  { color: #000000; }
.dim    { color: $text-dim; }
.faint  { color: $text-faint; }
.weak   { color: $text-weak; }
.danger { color: red; }



// Utilities
// -----------------------------------------------------------------------------------
.alt-text {

}


// Text usually used for sub section titles
.leaders {

}


// Use for tooltips, small buttons, helper, etc.
.small-link {

}


// Add an arrow ">" before the text
.arrow-before:before {
    content: ">";
    margin-right: 8px;
}


// Used to overwrite font-weight in specific cases
.lighter  { font-weight: 300; }
.normal   { font-weight: normal; }
.bold     { font-weight: bold; }
.bolder   { font-weight: bolder; }

.looser   { letter-spacing: 2px; }
.loose    { letter-spacing: 1px; }
.tight    { letter-spacing: -2px; }
.tighter  { letter-spacing: -3px; }

.straight { font-style: normal; }
.italic   { font-style: italic; }


// Uppercase and Lowercase text
.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
