//************************************************************************************
// TYPOGRAPHY
//************************************************************************************


// Headings
// -----------------------------------------------------------------------------------

// Define a reusable & flexible class for each heading, which can be used everywhere
// in the page to replicate the style of the headings while keeping a clean structure.
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
h1, .alpha { 
  @include font-size(48);
  margin-bottom: 1em;
}

h2, .beta { 
  @include font-size(36);
  margin-bottom: 0.75em;
}

h3, .gamma { 
  @include font-size(28);
  margin-bottom: 0.5em;
}

h4, .delta { 
  @include font-size(22);
  margin-bottom: 0.5em;
}

h5, .epsilon { 
  @include font-size(18);
  margin-bottom: 0.5em;
}

h6, .zeta { 
  @include font-size(16);
}


// Utilities
// -----------------------------------------------------------------------------------
// Used to overwrite font-weight in specific cases
.lighter  { font-weight: light; }
.normal   { font-weight: normal; }
.bold     { font-weight: bold; }
.bolder   { font-weight: bolder; }


.tight {
  letter-spacing: -2px;
}