//************************************************************************************
// MODULES & MIXINS
//************************************************************************************


// Mixins
// -----------------------------------------------------------------------------------

// Use REM in modern browsers and fallback to pixels for IE8-
// http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5){
  font-size: ($sizeValue * 1) + px;
  line-height: ($line * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
}


@mixin clearfix {
  zoom: 1; 
  height: 0;
  content: "\0020"; 
  display: block; 
  overflow: hidden; 

  &:before, &:after { 
    content: ""; 
    display: table; 
  }

  &:after { 
    clear: both; 
  }
}


// Legacy support for inline-block in IE7 (maybe IE6)
@mixin inline-block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}


// Set the border-radius for either all sides or a specified one
@mixin add-border-radius( $border-radius-position: all, $border-radius: 2px ) {
	@if $border-radius-position == 'all' {
		border-radius: $border-radius;
	} @else {
		border-#{ $border-radius-position }-radius: $border-radius;
	}
}