/************************************************************************************
*
* StarterCSS v2.0
* Copyright 2012, Frank Parent
* https://github.com/fparent/StarterCSS
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
* Thanks to Dave Gamache (davegamache.com) for the design inspiration of the form
* elements. His Skeleton Boilerplate is awesome.
* 
* Also props to the Twitter team for their excellent work on the Bootstrap project
* (http://twitter.github.com/bootstrap/). This is precisely what inspired me to
* create StarterCSS as I need something similar, but more adapted to my needs.
*
* Finally, major thanks to Nicolas Gallagher and Jonathan Neal for their contribution
* to the Web Development community. I've been using their project (Normalize.css) in
* HTML5Boilerplate for some time and decided to include it since it fixes a lot of
* cross-browsers inconsistencies and a lot more.
* http://necolas.github.com/normalize.css/
* 
*************************************************************************************/


// ***********************************************************************************
// BASE
// ***********************************************************************************

// Apply a natural box layout model to all elements
// http://paulirish.com/2012/box-sizing-border-box-ftw
// Also using * alone should not be a great performance issue
// http://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on/
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 

  //Shortcut to prevent from repeating the property on every item with a background-image
  background-repeat: no-repeat;

  // Ghetto reset for every elements; will keep the developer tools clean
  // and define a consistent foundation across browsers to build the site on.
  margin: 0;
  padding: 0;
}


// Corrects text resizing oddly in IE6/7 when body font-size is set using em units
// http://clagnut.com/blog/348/#c790
// Keeps page centred in all browsers regardless of content height
// Prevents iOS text size adjust after orientation change, without disabling user zoom
// www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom
html {
  background-color: white;
  color: #404040;
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}


body {
  line-height: 1.25;
}


html, body {
  width: 100%;
  height: 100%;
  position: relative;
}


// Block-Level Elements
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


// Addresses font-family inconsistency between 'textarea' and other form elements.
// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
// Corrects font size not being inherited in all browsers
// Addresses margins set differently in IE6/7, FF3+, S5, Chrome
// Improves appearance and consistency in all browsers
label,
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::selection { 
  background: #15e1ff; 
  color: #fff; 
  text-shadow: none; 
}



// ***********************************************************************************
// LINKS
// ***********************************************************************************

a { 
  text-decoration: underline; 
  vertical-align: baseline;
}


// Improves readability when focused and also mouse hovered in all browsers
// people.opera.com/patrickl/experiments/keyboard/test 
a:hover, a:active {
  outline: 0;
}


// Addresses outline displayed oddly in Chrome
a:focus {
  outline: thin dotted;
}



// ***********************************************************************************
// TABLES
// ***********************************************************************************

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th, 
table td {
  padding: .5em;
  text-align: left;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

table td, 
table tfoot {
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}



// ***********************************************************************************
// HTML5 DISPLAY DEFINITIONS
// ***********************************************************************************

// Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}


// Prevents modern browsers from displaying 'audio' without controls
audio:not([controls]) {
  display: none;
}


// Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
[hidden] {
  display: none;
}


address {
  display: block;
  line-height: 18px;
  margin-bottom: 18px;
}


details summary::-webkit-details-marker { 
  display: none; 
}



// ***********************************************************************************
// HEADINGS
// Felt like these elements deserved a modular section even though they should be in
// Typography because I found out that most of the time they will be overwritten
// ***********************************************************************************

// Reset and normalize the headings for cross-browsers
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: bold;
  font-style: normal;
  font-family: inherit;
  vertical-align: baseline;
}


h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a { 
  font-weight: inherit; 
}



// ***********************************************************************************
// TYPOGRAPHY
// ***********************************************************************************

// Addresses styling not present in IE7/8/9, S5, Chrome
abbr[title],
dfn[title] {
    border-bottom: dotted 1px;
    cursor:help;
}


// Normalize the default style in case another css reset override them
// Addresses style set to 'bolder' in FF3+, S4/5, Chrome
b, 
strong,
.strong {
	font-weight: bold;
}


.weak {
  font-weight: normal;
}


hr {
  display: block; 
  clear: both;
  height: 1px; 
  border: 0; 
  border-top: solid 1px #eee; 
  margin: 1em 0; 
  padding: 0;
}


.separator {
  padding-bottom: 1em;
  border-bottom: solid 1px #eee;
}


p, article {
  margin-bottom: 1.25em;
  position: relative;
}


article small {
  font-style: italic;
}


// Addresses styling not present in S5, Chrome
address,
cite,
dfn,
em,
i, 
q,
var {
	font-style: italic;
}


ins {
    background: #15e1ff;
    color: #404040;
    text-decoration:none;
}


// Addresses styling not present in IE6/7/8/9
mark {
    background: #ff0;
    color: #000;
}


// Corrects font family set oddly in IE6, S4/5, Chrome
// en.wikipedia.org/wiki/User:Davidgothberg/Test59
pre,
code,
kbd,
samp {
    font-family: "Inconsolata", "Monaco", "Consolas", "Courier New", Courier, monospace;
    _font-family: 'courier new', monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}


// Improves readability of pre-formatted text in all browsers
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}


figcaption,
small {
  font-size: 68%
}


// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


sup {
  top: -0.5em;
}


sub {
  bottom: -0.25em;
}


del,
s {
  text-decoration: line-through;
}



// ***********************************************************************************
// QUOTES & CITATIONS
// ***********************************************************************************

// Addresses quote property not supported in S4 
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}


// Addresses CSS quotes not supported in IE6/7
blockquote {
  margin: 1em;
  border-left: 5px solid #eee;
  padding-left: 15px;
}


blockquote, q {
  quotes: none;
}


blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
}


blockquote small {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #bfbfbf;
}


blockquote small:before {
  content: '\2014 \00A0';
}



// ***********************************************************************************
// LISTS
// ***********************************************************************************

.content ul, .content ol {
  margin: 0 0 1.25em 1.25em;
}


.content ul {
  list-style: disc outside;
}


.content ol {
  list-style: decimal outside;
  counter-reset: item;
}


// Style the second level lists differently then the first one
ul ul, ol ul {
  list-style: circle outside;
}


// Again, style the third level of lists differently
ol ol ul, 
ol ul ul, 
ul ol ul, 
ul ul ul {
  list-style-type: square;
}


// Lists inside navigation usually serve diferent purposed (generally menus); therefor,
// it's probably a good idea to reset their style
nav ol, 
nav ul,
nav ul ul,
nav ol ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}


nav a {
  display: inline-block;
}


dl, dl dt, dl dd {
  margin-bottom: 1em;
}


dd {
    margin: 0 0 0 2em;
}


dl dt {
  font-weight: bold;
}


dl dd {
  margin-left: 1em;
}



// ***********************************************************************************
// EMBEDDED
// ***********************************************************************************

// IE7: Gets or sets the interpolation (resampling) method used to stretch images.
img {
  border: 0;
  font-style: italic;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}


// Corrects overflow displayed oddly in IE9
svg:not(:root) {
    overflow: hidden;
}



// ***********************************************************************************
// FIGURES
// ***********************************************************************************

// Addresses margin not present in IE6/7/8/9, S5, O11
figure {
    margin: 0;
}


figure img {
  display: block;
  margin-bottom: 0;
}



// ***********************************************************************************
// FORMS
// ***********************************************************************************

fieldset { 
  padding: 1.5em 0;
  margin: 0 0 1em;
}


// Remove the margin from the last element in the fieldset--this makes our padding more consistent.
fieldset > :last-child {
  margin-bottom: 0;
}


// The legend tag doesn't inherit in IE , that's why we assign a color
// Corrects alignment displayed oddly in IE6/7
legend {
  *margin-left: -7px;
  padding: 0 5px;
  color: #404040;
}


label {
  cursor: pointer;
}



// ***********************************************************************************
// FORMS BUTTONS
// ***********************************************************************************

// 1. Improves usability and consistency of cursor style between image-type 'input' and others
// 2. Corrects inability to style clickable 'input' types in iOS
// 3. Removes inner spacing in IE7 without affecting normal text inputs
//    Known issue: inner spacing remains in IE6
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}


.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eee; /* Old browsers */
  background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
  background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
  background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
  background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
  background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
  background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: solid 1px #aaa;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  line-height: 21px;
  font-family: sans-serif; 
}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #ddd; /* Old browsers */
  background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
  background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
  background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
  background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
  background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
  background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: solid 1px #888;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa; 
}


.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc; /* Old browsers */
  background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
  background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
  background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
  background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
  background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
  background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ 
}



// ***********************************************************************************
// FORMS INPUTS
// ***********************************************************************************

// "When the time to complete a form needs to be minimized and the data being collected is 
// mostly familiar to users (for instance, entering a name, address, and payment information 
// in a check-out flow), a vertical alignment of labels and input fields is likely to work best."
// http://www.lukew.com/resources/articles/web_forms.html
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
  display: block;
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 1em;
  background: #fff; 
}


/* Add a nice little outter glow on focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow:  0 0 3px rgba(0,0,0,.2);
  outline: 0; 
}


// 1. Addresses appearance set to searchfield in S5, Chrome
// 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


// Removes inner padding that is displayed in S5, Chrome on OS X
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


input[type="file"] {
  background-color: #ffffff;
  font-size: 85%;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


// 1. Addresses box sizing set to content-box in IE8/9
// 2. Removes excess padding in IE8/9
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: inline;
  cursor: pointer;
  width: auto;
  height: auto;
  line-height: normal;
  border: none;
}


select {
  background: #fff;
  outline: none;
  display: block;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}


// Removes default vertical scrollbar in IE6/7/8/9
// Improves readability and alignment in all browsers
textarea {
    min-height: 60px;
    overflow: auto;
    vertical-align: top;
}


// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


::-webkit-input-placeholder {
  color: #bfbfbf;
}