//************************************************************************************
// GLOBAL VARIABLES
// Regroup every variable definition in here.
//************************************************************************************



// Brand color for the project
// -----------------------------------------------------------------------------------
$brand-1: #000000; // Black
$brand-2: #ffffff; // White
$brand-3: #ffffff; // White
$brand-4: #ffffff; // White
$brand-5: #ffffff; // White
$brand-6: #ffffff; // White
$brand-7: #ffffff; // White
$brand-8: #ffffff; // White



// Font Families
// -----------------------------------------------------------------------------------
$default-font: 	Helvetica, Arial, sans-serif;
$alt-font:		Tahoma, Arial, sans-serif; 



// Text colors
// -----------------------------------------------------------------------------------
$title-color:   #000000;
$text-color:    #000000;
$text-dim:      #333333;
$text-faint:    #6a6a6a;
$text-weak:     #999999;