//************************************************************************************
// MEDIA QUERIES
//************************************************************************************

// Every mobile devices up to 960px (default wrapper size)
// -----------------------------------------------------------------------------------
@media #{$medium-and-down} {
    .mobile-only  { display: block !important; }
    .desktop-only { display: none !important; }

    .wrapper { width: 100%; margin: 0 auto; }

    // Remove the padding inside the header
    .site-header .inner-header,
    .site-header,
    .nav-main {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
}


// Smartphones (portrait)
// -----------------------------------------------------------------------------------
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .wrapper,
    .wrapper.tight {
        max-width: 300px;
    }
}



// Smartphones (landscape)
// -----------------------------------------------------------------------------------
@media only screen and (min-width : 481px) and (max-width : 600px) {
    .wrapper { max-width: 480px; }
}


// Tablets (portrait)
// -----------------------------------------------------------------------------------
@media only screen and (min-width : 601px) and (max-width : 768px) {
    .wrapper { max-width: 600px; }
}


// Tablets (landscape)
// -----------------------------------------------------------------------------------
@media only screen and (min-width : 769px) and (max-width : 960px) {
    .wrapper { max-width: 600px; }
}


// Desktop
// -----------------------------------------------------------------------------------
@media #{$large-and-up} {
    .mobile-only  { display: none !important; }
    .desktop-only { display: block !important; }
}


// INTERNET EXPLORER 10 & 11
// -----------------------------------------------------------------------------------
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body, .flex { display: block !important; }
}